<main>
    <div class="bio">
        <img src="./assets/img/avatar.jpg" alt="avatar" >
        <div class="details">
            <h3>___ Kukliak Andrii ___</h3>
            <h5>Trainee WEB UI Developer</h5>
            <p>
                Hello, my friend!
                <br>
                My name is Andrew and now I am a student of SoftServe IT Academy.
                It's my first project on Angular. On this website, I will tell a little bit of myself. 
            </p>
        </div>
    </div>

</main>
