<div class="education">
    <div class="list">
        <div class="university">
            <i class="fas fa-university fa-2x"></i>
            <h4>Vasyl Stefanyk Precarpathian National University</h4>
            <div class="pnu">
                <h5>Bachelor degree, Faculty of Mathematics and Computer Science </h5>
                <h5>Master degree, Faculty of Mathematics and Computer Science </h5>
            </div>
        </div>
        <div class="courses">
            <i class="fas fa-laptop-code fa-2x"></i>
            <div class="container">           
                <h5>Основи програмування CS50 2019 – <a href="https://prometheus.org.ua/">Prometheus</a></h5>
                <h5>Основи Web UI розробки - <a href="https://prometheus.org.ua/">Prometheus</a></h5>
                <h5>The Complete 2021 Web Development Bootcamp - <a href="https://www.udemy.com/">Udemy</a></h5>
                <h5>Front-End(React,Redux) - <a href="https://apiko.academy/">Apico Academy</a></h5>
            </div>
        </div>
    </div>
</div>