<div class="contacts-info">
    <div class="email">
        <i class="fas fa-envelope fa-2x"></i>
        <h3>Email</h3>
        <h5><a href="mailto:akukljak@gmail.com">akukljak@gmail.com</a></h5>
    </div>
    <div class="linkedin">
        <i class="fab fa-linkedin fa-2x"></i>
        <h3>Linkedin</h3>
        <h5><a href="https://www.linkedin.com/in/andrii-kukliak-0912851b3">Andrii Kukliak</a></h5>
    </div>
    <div class="city">
        <i class="fas fa-map-marker-alt fa-2x"></i>
        <h3>Ivano-Frankivsk</h3>
    </div>
</div>
